body {
    margin: 0;
    /* 55px 50px */
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("./main-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    position: fixed;
    top: 105px;
    bottom: 30px;
    left: 0;
    right: 0;
}