.welcome-page-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: aliceblue;
    width: 450px;
    height: 300px;
    border-radius: 50px;
    font-size: 18px;
    box-shadow: 0px 10px 10px rgb(148, 59, 231);
}

.welcome-text {
    color: blueviolet;
    font-size: 22px;
    margin-bottom: 0;
}

.wishes {
    margin-bottom: 80px;
    color: rgb(126, 25, 222);
}