.no-items {
    color: black;

    background-color: #96ed92;
    border-radius: 60px;
    height: 40px;
    border: none;
    padding: 5px 10px;
}

.your-plants {
    color: black;
    border-radius: 60px;
    border: none;
    font-size: 25px;
    background-color: #96ed92;
    padding: 5px 10px;
    font-weight: bold;
}